.TopPanel {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  /* padding: .8% 0;   */
}

.TopPanel * {
  display: inline;
  /* padding: 0 1%; */
}

.GameArea {
  z-index: -1;
  animation-name: unblur;
  animation-duration: .4s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  filter: blur(5px);
}

@keyframes unblur {
  to {
    filter: unset;
  }
}

.ControlsExplanation {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  border-radius: 10px;
}